[submodule "reshop-datalog-prod"]
	path = reshop-datalog-prod
	url = https://github.com/rpgchess/reshop-datalog-prod.git
[submodule "reshop-datalog-stage"]
	path = reshop-datalog-stage
	url = https://github.com/rpgchess/reshop-datalog-stage.git
